@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: #755CDE;
    --secondary-color: #F6A560;
    --tertiary-color: #F39E9E;
    --quinary-color: #EB7565;
    --senary-color: #61C4B7;
    --septenary-color: #552049;
    --octonary-color: #030303;
    --nonary-color: #7A746E;
    --denary-color: #FFF7F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.body {
    background-color: var(--denary-color);
}

/* Header */
.main-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 1rem;


}

.logo {
    width: 3rem;
    height: 3rem;
}

.text-button {
    width: 11rem;
    height: 2.75rem;
    border-radius: 1.75rem;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: bold;
    background-color: var(--octonary-color);
    color: var(--denary-color);
}


/* Main Content */

.container {
    text-align: center;
    margin: 2rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-h1 {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 0px;
    width: 21.43rem;
    color: var(--octonary-color);
    margin-bottom: 1rem;

}

.intro p {
    font-size: 1rem;
    font-weight: 400;
    width: 275px;
    line-height: 1.6rem;
    letter-spacing: 0px;
    text-align: center;
    color: var(--nonary-color);

}

/* Services */
.img-position img {
    position: absolute;
    top: 24px;
    right: 24px;

}

.design {
    /* width: 21.43rem; */
    margin: 1rem;
    height: 22.75rem;
    background-color: var(--primary-color);
    border-radius: 8px;

}

.UIUX {
    width: 9.93rem;
    height: 11.37rem;
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 8px;
}

.apps {
    width: 9.93rem;
    height: 11.37rem;
    background-color: var(--tertiary-color);
    margin: 1rem;
    border-radius: 8px;
}

.Illustrations {
    /* width: 21.43rem; */
    height: 9.87rem;
    background-color: var(--quinary-color);
    margin: 1rem;
    border-radius: 8px;
}

.Photography {
    /* width: 21.43rem; */
    height: 11.27rem;
    background-color: var(--senary-color);
    margin: 1rem;
    border-radius: 8px;
}

.motion-graphics {
    /* width: 21.43rem; */
    height: 11.27rem;
    background-color: var(--septenary-color);
    margin: 1rem;
    border-radius: 8px;
}

.design,
.UIUX,
.apps,
.Illustrations,
.Photography,
.motion-graphics {
    position: relative;
}

.services-group {
    display: flex;
}

.design h2 {
    width: 13.12rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: var(--denary-color);
    padding-top: 19.37rem;
    padding-left: 1.5rem;
}

.UIUX h2 {
    width: 5rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: var(--denary-color);
    padding-top: 8rem;
    padding-left: 1.48rem;
}

.apps h2 {
    width: 10.10rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: var(--denary-color);
    padding-top: 8rem;
    padding-left: 1.48rem;
}

.Illustrations h2 {
    width: 5rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: var(--denary-color);
    padding-top: 6.5rem;
    padding-left: 1.52rem;
}

.Photography h2 {
    width: 11.37rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: var(--denary-color);
    padding-top: 8rem;
    padding-left: 1.5rem;
}

.motion-graphics h2 {
    width: 14.18rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: var(--denary-color);
    padding-top: 8rem;
    padding-left: 1.5rem;
}

/* Summary */
.summary-group{
    width:21.4rem;
    height: 37.6rem;
    border-spacing: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 6.25rem;
    /* padding-bottom: 100px; */

}
.summary-content img{
    width: 18.75rem;
    height: 18.75rem;
    align-items: center;

}
.summary-content {
    width: 18.75rem;
    height: 18.75rem;
    align-items: center;
    margin: 0 auto;
   
}
.summary-text h2{
    width: 21.43rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    text-align: center;
    font-size: 1.6rem;
    color: var(--octonary-color);
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}
.summary-text p{
    width: 21.43rem;
    font-size: 1rem;
    font-weight: medium;
    line-height: 1.6rem;
    letter-spacing: 0px;
    text-align: center;
    color: var(--nonary-color);
    padding-bottom: 2.5rem;
}
.summary-button {
    width: 11rem;
    height: 2.75rem;
    border-radius: 1.75rem;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--denary-color);
    margin-left: 5.25rem;
}